<!DOCTYPE html>
<html>
<head>
  <script type="module" src="./chat.js"></script>
  <link rel="stylesheet" href="style.css">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet"/>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
</head>
<body>
<div id="app">
  <div id="header-bar">
    <h1 class="title">
      My Cool Chat App
    </h1>

    <p>
      <button id="login-button" @click="$gf.toggleLogIn">
        <!-- If we have a user ID, we're logged in so show "Log Out" -->
        <!-- Otherwise, show "Log In" -->
        {{ $gf.me? 'Log Out' : 'Log In' }}
      </button>
    </p>
  </div>

  <div id="body-section">
    <!-- If we're not logged in, hide everything except the login button -->
    <template v-if="$gf.me">

      <div id="left-section">
        <div id="top-left-section">

          <p>
            <!-- We display names in multiple places, so we made a reusable <name></name> component. -->
            <!-- See below for the template. -->
              <my-profile-picture id="my-profile-pic" :actor="$gf.me" :editable="true"></my-profile-picture> <br>
            <b>Display Name:</b> <name :actor="$gf.me" :editable="true"></name>
          </p>

          <div>
            <p v-if="currentUsername !== ''"><b>Current Username:</b> {{ currentUsername }}</p>
            <form @submit.prevent="requestUsername">
              <input v-model="usernameInput" placeholder="Enter a unique username" :class="{touched: usernameInputTouched}" />
              <button type="submit" id="username-request-button">Request Username</button>
            </form>
            <p v-if="usernameRequestError" id="username-request-error" class="error">{{ usernameRequestError }}</p>
            <p v-if="usernameRequestFeedback" class="not-error">{{ usernameRequestFeedback }}</p>
          </div>

        </div>

        <div id="bottom-left-section">
          <div>
            <h3>Contacts</h3>
              <div class="usernames">
                  <div v-for="(usernameObj, index) in allUsernames" :key="index" class="username-item">
                      <profile-picture :actor="usernameObj.actorId"></profile-picture>
                      <button class="username-btn" @click="openPrivateChat(usernameObj.username)">
                          <b class="username-title"><name :actor="usernameObj.actorId" :includeUsername="true"></name></b><br>
                          {{ usernameObj.username }}
                      </button>
                  </div>
              </div>
          </div>
        </div>
      </div>

      <div id="right-section">
        <div id="top-right-section">
          <form @submit.prevent="searchByUsername">
            <div class="search-container">
              <label for="recipient-username">
<!--                <b>Chat with:</b>-->
                Chat with:
              </label>
              <input id="recipient-username" v-model="searchedUsername" placeholder="Enter a username..." />
              <button id="username-search" type="submit">Search</button>
              <span v-if="loadingIndicator" class="loader"></span>
            </div>
          </form>
          <p id="username-error-message" v-if="usernameSearchError" class="error">{{ usernameSearchError }}</p>
        </div>

        <div id="bottom-right-section">
          <ul class="message-list">
            <!-- List all the messages -->
            <li v-for="message of messages" :key="message.id">
              <div v-if="message.attachment && message.attachment.type==='Audio' && message.attachment.transcript !== undefined" class="transcript-box" :class="{'me': message.actor == $gf.me, 'other': message.actor != $gf.me}">
                <p><em>{{ message.attachment.transcript }}</em></p>
              </div>
              <div class="message-box">
                <ul class="message-item" :class="{'me': message.actor == $gf.me, 'other': message.actor != $gf.me}">

                  <div v-if="message.inReplyTo">
                <span class="replied-to">
                  <b> Replied to: </b> {{ getMessageSnippet(message.inReplyTo) }}
                </span>
                  </div>

                  <li>
                    <div v-if="message.attachment">
                      <div v-if="message.attachment.type === 'Audio'">
                        <audio class="audio-attachment" :src="downloadedAudios[message.attachment.magnet]" controls></audio>
<!--                        <p>{{ message.attachment.transcript }}</p>-->
                      </div>
                      <div v-else>
                        <img class="image-files" v-if="downloadedImages[message.attachment.magnet]" :src="downloadedImages[message.attachment.magnet]" :alt="message.content" />
                      </div>
                    </div>
                    <div class="message-content" v-else> {{ message.content }} </div>
                  </li>

                  <li>
                    <!-- Display and edit form if we're editing a message -->
                    <form v-if="editID==message.id" @submit.prevent="saveEditMessage(message)">
                      <input v-model="editText">
                      <input type="submit" value="Save"/>
                    </form>
                  </li>

                  <!-- You can't edit or delete other people's messages -->
                  <template v-if="message.actor==$gf.me">
                    <li class="edit-delete-buttons">
                      <button @click="removeMessage(message)">
                        Delete Message
                      </button>
                      <button @click="startEditMessage(message)" v-if="!message.attachment">
                        Edit Message
                      </button>
                    </li>
                  </template>

                  <div class="reply-form">
                    <form @submit.prevent="replyToMessage(message.id)">
                      <input class="reply-input" v-model="replyContents[message.id]" type="text" placeholder="Reply" />
                      <button type="submit">Send</button>
                    </form>
                  </div>

                  <li>
                    <like :message-id="message.id"></like>
                  </li>

                  <!-- Only add these controls if the message is ours -->
                  <template v-if="message.actor==$gf.me">
                    <li>
                      <read-receipts :message-id="message.id"></read-receipts>
                    </li>
                  </template>

<!--                  <span class="publish-time">Sent {{ message.published }}</span>-->
                  <span class="publish-time">Sent <time>{{ (new Date(message.published)).toLocaleTimeString([], { hour: '2-digit', minute: '2-digit' }) }}</time></span>

                </ul>
              </div>
            </li>
          </ul>
        </div>

        <div id="send-message" v-if="recipient">
          <form @submit.prevent="sendMessage">
            <input id="message-box" v-model="messageText" placeholder="Type a message..." />
            <input type="file" accept="image/*" id="image-upload" name="image-upload" @change="onImageInput"/> <br>
              <!-- Added code for audio recording functionality -->
            <button v-if="recordedAudioUrl" @click="deleteRecording" class="delete-recording-button" type="button"> X </button>
            <button v-if="!recordedAudioUrl" @click="toggleRecording" class="record-button" type="button">
              <img :src="isRecording ? 'images/stop-mic.png' : 'images/start-mic.png'" alt="Record Button" />
            </button>
            <audio v-if="recordedAudioUrl" :src="recordedAudioUrl" controls></audio>

            <button type="submit" class="send-button">
              <img class="send-image-button" src="images/send.png" alt="Send" />
            </button>
          </form>
        </div>

      </div>

    </template>
  </div>
</div>

<template id="name">
    <span v-if="!editing">

      <!-- If we're not editing the name-->
      <!-- Display the profile's name, if it exists -->
      <!-- or anonymous if it doesn't -->
      {{ profile ? profile.name : 'Anonymous' }}<span v-if="includeUsername && username"> (@{{ username }})</span>

      <!-- Also if the name is "editable" add an edit button -->
      <button v-if="editable" @click="editName" class="edit-name-button">
        Edit Name
      </button>
    </span>

  <!-- If we're in the editing state, create something to edit the name-->
  <form v-else @submit.prevent="saveName">
    <input v-model="editText"/>
    <input type="submit" value="Save Name"/>
  </form>
</template>

<template id="like">
    <button class="heart-button" @click="myLikes.length === 0 ? sendLike() : removeLike()">
        <i
                class="fa"
                :class="{ 'fas fa-heart': myLikes.length > 0, 'far fa-heart': myLikes.length === 0 }"
        ></i>
    </button>
</template>

<template id="profile-picture">
    <magnet-img :src="profile?profile.icon.magnet:anonymous" class="profile-pic"></magnet-img>

    <form v-if="editable" @submit.prevent="savePicture">
        <input type="file" accept="image/*" @change="onPicture"/>
        <input type="submit" value="Save Profile Picture"/>
    </form>
</template>

<template id="my-profile-picture">
    <magnet-img :src="profile?profile.icon.magnet:anonymous" class="my-profile-pic"></magnet-img>

    <form v-if="editable" @submit.prevent="savePicture">
        <input type="file" accept="image/*" @change="onPicture"/>
        <input type="submit" value="Save Profile Picture"/>
    </form>
</template>

<template id="read-receipts">
    <span v-if="readActors && readActors.length > 0">
        <em class="read-label">Read</em>
    </span>
    <span v-else>
        <em class="read-label">Delivered</em>
    </span>
</template>

</body>
</html>
